<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Reviews</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Nome</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${reviews.empty}">
				<td colspan="2">Sem review</td>
			</tr>

			<tr th:each="review : ${reviews}">
				<td th:text="${review.reviewId}">1</td>
				<td><a href="#" th:href="@{'/reviews/'+${review.reviewId}}"
					th:text="${review.comentario}"> Comentário </a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>